
a {
  color: #fff;
  text-decoration: none;
}

a:hover
{
color: white;
}

#app {
  max-width: 100%;
  font-weight: normal;
}

.landingheader {
  font-family: 'Nunito', sans-serif; font-size: 15px; font-weight: 400; line-height: 41px; letter-spacing: 0em; text-align: left;
  width: 100%;
  /* Distance between header and the acutal content */
  height: 35vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("@/assets/headerbgstuff/restaurantbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}

nav {
  width: 75%;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul > *{
  float: left;
  display: block;
}

nav ul > * {
  text-decoration: none;
  color: #fff;
  padding: 0.7vw 2vw 0.7vw 2vw;
}
  
nav ul a.router-link-active{
  background-color: #353535;
}

nav ul a::after {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
  border-radius: 15px;
}

nav ul a:hover {
  color:#fff;
}

nav ul a:hover::after {
  width: 70%;
}

@media (max-width: 900px) {

  #headerbg {
    display: none;
  }

  .fancybgfood {
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .logoBig {
    width: 120px;
    z-index: 1;
    margin: 10px 20px;
    position: absolute;
  }


  nav {
    background-color: #4B5842;
    width: 100%;
  }

}

@media (min-width: 900px) {
  #headerbg {
    width: 100%;
    position: absolute;
  }

  .logoBig {
    width: 15vw;
    margin: 4vw 5vw;
    transform: translateY(-50%);
    position: absolute;
  }

  .fancybgfood {
  top: -90px;
  left: 9vw;
  width: auto;
  height: auto;
  position: absolute;
  flex-shrink: 1;
  }
  .bgimage1 {
    top: 96px;
    left: 0px;
    width: 4.75vw;
    height: 5.3vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage2 {
    top: 38px;
    left: 7.3vw;
    width: 16.09vw;
    height: 14.8vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage3 {
    top: 13.31vw;
    left: 23.36vw;
    width: 4.13vw;
    height: 5.177vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage4 {
    top: 76px;
    left: 27.67vw;
    width: 5.67vw;
    height: 5.49vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage5 {
    top: 13vw;
    left: 28.67vw;
    width: 12.57vw;
    height: 6.47vw;
    transform: rotate(45deg);
    position: absolute;
    object-fit: cover;
  }
  .bgimage6 {
    top: 53px;
    left: 36vw;
    width: 16.45vw;
    height: 13.005vw;
    transform: rotate(20deg);
    position: absolute;
    object-fit: cover;
  }
  .bgimage7 {
    top: 92px;
    left: 50.65vw;
    width: 4.5vw;
    height: 6.53vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage8 {
    top: -15px;
    left: 58vw;
    width: 16.45vw;
    height: 13vw;
    position: absolute;
    object-fit: cover;
  }
  .bgimage9 {
    top: 23px;
    left: 76.43vw;
    width: 11.156vw;
    height: 7.767vw;
    position: absolute;
    object-fit: cover;
  }
}
