
.landingheader {
    background-image: none;
    height: 10vh;
    background-color: #4B5842;
}
.logo {
    width: 150px;
    margin: 1.2vw 2vw;
}
.reservationwrapper {
    min-height: 90vh;
    background-color: #4B5842;
    height: 100%;
    width: 100%;
}
.reservationcontentbg {
    min-height: 90vh;
    width: 80vw;
    height: 100%;
    background-color: #DADDD8;
    margin: auto;
    border-radius: 12px 12px 12px 12px;
}
.reservationcontent {
    padding: 10px;
    color: black;
}
.footer {
    height: 10vh;
}