<script lang="ts">
    import ReservateNow from "../components/ReservateNow.vue";
    import Footer from "../components/Footer.vue";

    export default {
        name: "HomeView",
        components: { Footer, ReservateNow },
        setup() {
            window.scrollTo(0,0);
        }
    }

</script>

<template>
    <div class="wrapper">
        <div class="landingheader">
            <img id="headerbg" src="@/assets/Vector.svg">
            <div class="fancybgfood">
                <img src="@/assets/headerbgstuff/bgimage1.png" class="bgimage1" />
                <img src="@/assets/headerbgstuff/bgimage2.png" class="bgimage2" />
                <img src="@/assets/headerbgstuff/bgimage3.png" class="bgimage3" />
                <img src="@/assets/headerbgstuff/bgimage4.png" class="bgimage4" />
                <img src="@/assets/headerbgstuff/bgimage5.png" class="bgimage5" />
                <img src="@/assets/headerbgstuff/bgimage6.png" class="bgimage6" />
                <img src="@/assets/headerbgstuff/bgimage7.png" class="bgimage7" />
                <img src="@/assets/headerbgstuff/bgimage8.png" class="bgimage8" />
                <img src="@/assets/headerbgstuff/bgimage9.png" class="bgimage9" />
            </div>
            <RouterLink to="/">
                <img alt="Ristoranti Logo" class="logoBig" src="@/assets/RistorantiWhite.svg" />
            </RouterLink>
            <nav>
                <ul>
                    <RouterLink to="/">HOME</RouterLink>
                    <RouterLink to="/reservieren">RESERVIEREN</RouterLink>
                    <RouterLink to="/kontakt">KONTAKT</RouterLink>
                </ul>
            </nav>
            <div class="booknowline">
                <ReservateNow />
            </div>
        </div>

        <div class="content">

            <div class="contentWelcome">
                <div style="float: right">
                    <img alt="Ristoranti Logo" src="@/assets/RistorantiWhite.svg" />
                </div>
                <div>
                    <h1>Willkommen bei</h1> <br>
                </div>
            </div>

            <div class="contentWelcomeText">
                <h2>Hier kannst du deinen Lieblingsplatz in deinem Restaurant oder Cafè reservieren</h2>
            </div>

            <div class="guideWrapper">
                <h3 style="
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 44px;
                ">So funktioniert es:</h3>
                <div class="guideRow">
                    <div class="iconCircleBorder">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512">
                            <path d="M64,80V16c0-8.844,7.156-16,16-16s16,7.156,16,16v64c0,8.844-7.156,16-16,16S64,88.844,64,80z M336,96  c8.844,0,16-7.156,16-16V16c0-8.844-7.156-16-16-16s-16,7.156-16,16v64C320,88.844,327.156,96,336,96z M512,384  c0,70.688-57.313,128-128,128s-128-57.313-128-128s57.313-128,128-128S512,313.313,512,384z M480,384c0-52.938-43.063-96-96-96  s-96,43.063-96,96s43.063,96,96,96S480,436.938,480,384z M128,192H64v64h64V192z M64,352h64v-64H64V352z M160,256h64v-64h-64V256z   M160,352h64v-64h-64V352z M32,380.813V160h352v64h32V99.188C416,79.75,400.5,64,381.344,64H368v16c0,17.625-14.344,32-32,32  s-32-14.375-32-32V64H112v16c0,17.625-14.344,32-32,32S48,97.625,48,80V64H34.672C15.516,64,0,79.75,0,99.188v281.625  C0,400.188,15.516,416,34.672,416H224v-32H34.672C33.219,384,32,382.5,32,380.813z M320,256v-64h-64v64H320z M432,384h-48v-48  c0-8.844-7.156-16-16-16s-16,7.156-16,16v64c0,8.844,7.156,16,16,16h64c8.844,0,16-7.156,16-16S440.844,384,432,384z"/>
                        </svg>
                    </div>
                    <div>
                        <h2>Wähle deinen Termin</h2>
                        <p>Lege das Datum und deine Wunschuhrzeit ganz einfach fest. 
                        Anschließend werden dir die verfügbaren Tische angezeigt.</p>
                    </div>
                </div>
                <div class="guideRow">
                    <div>
                        <h2 style="text-align: right">Wähle deinen Wunschtisch</h2>
                        <p style="text-align: right">Lege nun deinen Wunschtisch und die Anzahl der Personen fest.
                        Aus den verfügbaren Tischen hast du freie Auswahl!</p>
                    </div>
                    <div class="iconCircleBorder">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                            viewBox="0 0 214.539 214.539" style="enable-background:new 0 0 214.539 214.539;">
                        <g>
                            <g>
                                <path d="M121.164,154.578h-6.625V89.14h38.937c4.014,0,7.269-3.254,7.269-7.269s-3.254-7.269-7.269-7.269h-92.41
                                    c-4.014,0-7.269,3.254-7.269,7.269s3.254,7.269,7.269,7.269h38.936v65.438h-6.625c-4.014,0-7.269,3.254-7.269,7.27
                                    c0,4.015,3.254,7.269,7.269,7.269h27.787c4.015,0,7.27-3.254,7.27-7.269C128.433,157.832,125.179,154.578,121.164,154.578z"/>
                                <path d="M73.783,120.777c0-4.014-3.254-7.269-7.269-7.269H54.833H34.219c-11.08,0-13.41-16.14-13.509-16.869l-6.239-45.122
                                    c-0.55-3.977-4.217-6.748-8.196-6.205c-3.976,0.55-6.754,4.219-6.205,8.196l6.229,45.053c0.831,6.47,4.167,16.593,11.367,23.133
                                    l-7.485,38.956c-0.758,3.942,1.824,7.752,5.766,8.509c3.946,0.761,7.752-1.825,8.509-5.766l6.792-35.349h17.579l6.792,35.349
                                    c0.668,3.479,3.714,5.897,7.13,5.897c0.455,0,0.916-0.043,1.379-0.132c3.942-0.757,6.524-4.566,5.766-8.509l-6.265-32.605h2.883
                                    C70.527,128.046,73.783,124.791,73.783,120.777z"/>
                                <path d="M208.267,45.313c-3.975-0.543-7.646,2.229-8.196,6.205l-6.244,45.165c-0.094,0.687-2.424,16.827-13.504,16.827h-20.614
                                    h-11.681c-4.014,0-7.27,3.254-7.27,7.269s3.255,7.269,7.27,7.269h2.883l-6.265,32.605c-0.758,3.942,1.824,7.752,5.766,8.509
                                    c3.946,0.761,7.752-1.825,8.509-5.766l6.792-35.349h17.579l6.792,35.349c0.668,3.479,3.714,5.897,7.13,5.897
                                    c0.455,0,0.916-0.043,1.38-0.132c3.941-0.757,6.523-4.566,5.766-8.509l-7.485-38.953c7.198-6.534,10.532-16.64,11.357-23.065
                                    l6.238-45.123C215.021,49.533,212.242,45.863,208.267,45.313z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="guideRow">
                    <div class="iconCircleBorder">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 122.88 121.87" style="enable-background:new 0 0 122.88 121.87" >
                            <g>
                                <path d="M97.34,0.74c0.86-0.93,2.3-0.99,3.23-0.13c0.93,0.86,0.99,2.3,0.13,3.23L81.98,24.1l-0.03,0.04 c-2.29,2.77-3.86,5.33-4.56,7.67c-0.62,2.07-0.53,3.95,0.39,5.59c0.49,0.88,0.33,1.96-0.32,2.67l0,0l-8.89,9.62 c-0.87-0.95-1.56-1.72-2.02-2.22c-0.21-0.28-0.45-0.55-0.7-0.81l-0.02,0.02c-0.12-0.13-0.25-0.25-0.38-0.37l7.6-8.23 c-0.89-2.38-0.88-4.91-0.06-7.6c0.88-2.92,2.75-6.03,5.44-9.27c0.06-0.08,0.11-0.16,0.18-0.23L97.32,0.72L97.34,0.74L97.34,0.74z M57.13,55.01c-0.84-0.94-0.76-2.39,0.18-3.23c0.94-0.84,2.39-0.76,3.23,0.18c9.41,10.54,38.5,41.73,46.56,53.39 c10.63,15.05-5.83,19.79-11.29,14.31c-13.64-13.19-42.6-46.82-55.33-61.08c-4.58,1.94-9.03,2.24-13.5,0.96 c-4.81-1.37-9.52-4.58-14.3-9.51l-0.06-0.06c-3.64-3.84-6.49-7.63-8.55-11.38c-2.11-3.86-3.4-7.68-3.86-11.47 c-0.49-4.08-0.11-7.88,0.99-11.25c1.29-3.96,3.58-7.31,6.58-9.8c3.02-2.5,6.73-4.12,10.87-4.62c3.44-0.41,7.19-0.06,11.07,1.21 c5.37,1.75,11.63,6.1,16.82,11.68c3.83,4.11,7.11,8.92,9.06,13.87c2.03,5.16,2.65,10.5,1.02,15.5c-0.96,2.96-2.7,5.74-5.4,8.25 c-0.93,0.86-2.37,0.8-3.23-0.12c-0.86-0.93-0.8-2.37,0.12-3.23c2.09-1.95,3.43-4.08,4.16-6.33c1.26-3.87,0.73-8.16-0.93-12.38 c-1.74-4.42-4.69-8.74-8.15-12.45c-4.68-5.02-10.23-8.91-14.91-10.44c-3.21-1.04-6.28-1.34-9.09-1c-3.26,0.4-6.18,1.65-8.51,3.6 c-2.34,1.95-4.13,4.58-5.16,7.71c-0.89,2.73-1.2,5.87-0.79,9.26c0.39,3.2,1.5,6.47,3.32,9.81c1.91,3.43,4.53,6.9,7.9,10.45 l0.02,0.03c4.22,4.35,8.27,7.15,12.28,8.29c3.79,1.08,7.65,0.66,11.68-1.35c0.92-0.53,2.11-0.35,2.84,0.47 c12.42,13.91,42.63,48.92,56.01,61.89c5.81,2.37,9.03-0.55,6.25-5.7C100.7,102.43,63.5,62.17,57.13,55.01L57.13,55.01L57.13,55.01z M45.07,75.12l-29.16,31.55c-0.06,0.06-0.11,0.12-0.18,0.18c-4.26,4.6,3.28,11.3,7.96,6.82l28.32-30.65l3.04,3.45l-28.1,30.41l0,0 c-0.06,0.07-0.12,0.13-0.2,0.2c-1.68,1.41-3.37,2.33-5.08,2.71c-1.76,0.4-3.49,0.22-5.15-0.56c-0.28-0.11-0.54-0.25-0.77-0.46 l-4.03-3.73l0,0c-0.06-0.06-0.12-0.11-0.18-0.18c-1.56-1.8-2.3-3.72-2.1-5.75c0.19-1.92,1.21-3.79,3.14-5.59l29.44-31.86 L45.07,75.12L45.07,75.12z M75.63,57.46l1.73-1.87c0.86-0.93,2.31-0.99,3.23-0.13s0.99,2.3,0.13,3.23l-2,2.16L75.63,57.46 L75.63,57.46z M104.45,7.43c0.86-0.93,2.3-0.99,3.23-0.13c0.93,0.86,0.99,2.3,0.13,3.23L91.4,28.3c-0.86,0.93-2.3,0.99-3.23,0.13 c-0.93-0.86-0.99-2.3-0.13-3.23L104.45,7.43L104.45,7.43L104.45,7.43z M111.55,14c0.86-0.93,2.3-0.99,3.23-0.13 c0.93,0.86,0.99,2.3,0.13,3.23L98.51,34.86c-0.86,0.93-2.3,0.99-3.23,0.13c-0.93-0.86-0.99-2.3-0.13-3.23L111.55,14L111.55,14 L111.55,14z M118.91,20.83c0.86-0.93,2.3-0.99,3.23-0.13c0.93,0.86,0.99,2.31,0.13,3.23L103.55,44.2c-0.07,0.07-0.14,0.13-0.21,0.2 c-4.26,4.1-8.33,6.47-12.22,7.14c-4.22,0.73-8.09-0.47-11.64-3.57c-0.95-0.83-1.04-2.28-0.22-3.22c0.83-0.95,2.28-1.04,3.22-0.22 c2.45,2.14,5.07,2.98,7.84,2.49c2.98-0.51,6.26-2.48,9.84-5.93l0.02-0.02l18.71-20.25L118.91,20.83L118.91,20.83z"/>
                            </g>
                        </svg>
                    </div>
                    <div>
                        <h2>Guten Appetit</h2>
                        <p>Nach deiner Buchung erhältst du eine Benachrichtigung per E-Mail, sobald deine Reservierung bestätigt wurde. 
                        Wir freuen uns auf deinen Besuch!</p>
                    </div>
                </div>
            </div>
            <div class="scheduleWrapper">
                <div class="button">
                    <button style="margin-bottom: 50px;" class="btn btn-lg btn-primary rounded-pill" @click="$router.push('/reservieren')">
                        Jetzt Tisch reservieren
                    </button>
                </div>
                <div class="schedule">
                    <h1>Öffungszeiten</h1>
                    <h2>Mittwoch - Sonntag: 10:00 - 22:00 Uhr</h2>
                    <h2>Montag & Dienstag: Ruhetag</h2>
                </div>  
            </div>
        </div>
        <div class="footer">
            <Footer />
        </div>
    </div>
</template>

<style scoped>
    @import '@/assets/scss/appstyles.scss';

    .booknowline {
        padding-left: 6vw;
        width: 50%;
        top: 70%;
        transform: translateY(-50%);
    }

    .landingheader {
        box-shadow: 0px 5px 50px 15px rgb(0,0,0,0.3); 
        height: 100vh;
    }

    .wrapper {
        background-color: #4B5842;
        background-image: url("@/assets/Pattern.png");
        background-size: contain;
    }

    .content {
        font-family: Nunito;
        margin: 0 auto;
        width: 70%;
        background-color: #6e8062;
        box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 40%);
        color: white;
        padding-inline: 60px;
        align-items: center;
        display: grid;
    }

    .contentWelcome {
        display: flex;
        align-content: center;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
    }

    .contentWelcome img {
        width: 200px;
        padding-left: 15px;
    }

    .contentWelcomeText h2 {
        text-align: center;
        font-weight: 200;
        font-size: 32px;
        line-height: 44px;
    }

    .guideWrapper {
        padding-top: 50px;
        color: white;
    }

    .guideRow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .guideRow h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: 55px;
    }

    .guideRow p {
        font-weight: 200;
        font-size: 25px;
        line-height: 44px;
    }

    .iconCircleBorder {
        width: 200px;
        border: white;
        border-style: solid;
        border-radius: 50%;
        margin-inline: 20px;
        display: flex;
    }

    .iconCircleBorder svg {
        width: 200px;
        padding: 25px;
        margin: auto;
        fill: white;
    }

    .scheduleWrapper {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .schedule {
        border: white;
        border-style: solid;
        width: fit-content;
        display: flex;
        margin: 50px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
    }

    .schedule h2 {
        font-weight: 200;
        font-size: 24px;
        line-height: 33px;
    }

    .footer{
        margin: auto;
        padding-bottom: 35px;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        color: white;
    }

</style>