<script lang="ts">
import { reactive, inject } from "vue";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";

const toastHandler = useToast();
export default ({
    name: 'LoginView',
    setup() {
        const hostname = inject('hostname');
        const data = reactive({
            email: '',
            password: ''
        });
        const router = useRouter();
        const back = () => {
            router.push({ path: '/' })
        }
        const submit = async () => {
            var response = await fetch(hostname +'/api/auth/login', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                credentials: 'include',
                body: JSON.stringify(data)
            });

            if (response.status === 200) {
                router.push({ path: '/dashboard' });
            } else {
                toastHandler.error("Fehlerhafte Logindaten", {
                    timeout: 5000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                data.password = "";
            }

            
        }
        return {
            back,
            data,
            submit
        }
    }
});
</script>

<template>
    <div class="background">
        <div class="card">
            <button id="back" class="btn" v-on:click="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                Zurück
            </button>
            <div class="content">
                <form @submit.prevent="submit" class="form-signin">
                    <img class="mb-4" src="@/assets/Ristoranti.svg" alt="" width="250" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Dashboard Login</h1>
                    <input v-model="data.email" type="email" id="inputEmail" class="form-control" placeholder="E-Mail Adresse" required autofocus>
                    <input v-model="data.password" type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
                </form>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .background {
        font-family: 'Nunito', sans-serif; font-size: 15px; font-weight: 400; line-height: 41px; letter-spacing: 0em; text-align: left;
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("@/assets/headerbgstuff/restaurantbg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10%;
    }
    .card {
        background-color: #4B5842;
        width: 50%;
        height: 75%;
        margin: auto;
    }
    .bi {
        vertical-align: middle;
    }
    #back {
        vertical-align: middle;
        text-align: left;
        width: 150px;
        font-size: 20px;
        color: white;
    }
    #back:hover{
        background-color: #5c6b51;
    }
    .content {
        text-align: center;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: inherit;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        color: white;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .copyright {
        vertical-align: bottom;
        text-align: center;
        color: white;
    }

    .btn {
        background-color: #60763a;

    }

    .mb-4 {
        margin-bottom: 3.5rem !important;

    }

    .mb-3 {
        margin-bottom: 1.5rem !important;
    }

</style>