<script lang="ts">
import { defineComponent } from 'vue';
import { RouterView } from 'vue-router'
import ScrollNav from './components/ScrollNav.vue'
import '@vuepic/vue-datepicker/dist/main.css';



export default defineComponent({
  name: 'App',
    components: {
        ScrollNav, RouterView
  }
});
</script>

<template>
    <ScrollNav />
    <RouterView />
</template>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    ul {
        margin: 0px;
    }
</style>
