<script lang="ts">
    import { defineComponent, computed} from "vue";
    import { useRouter } from "vue-router";
    import { useStore } from 'vuex';
    export default defineComponent({
        name: 'FooterComponent',
        setup() {
            const store = useStore();
            const auth = computed(() => store.state.authenticated);
            const router = useRouter();
            const login = () => {
                router.push({ path: '/dashboard/login' })
            }
            const dashboard = () => {
                router.push({ path: '/dashboard'})
            }
            const contact = () => {
                router.push({ path: '/kontakt'})
            }
            return {
                login,
                contact,
                dashboard,
                auth
            }
        }
    })
</script>

<template>
    <div class="socialMediaWrapper">
        <p> FOLGEN SIE UNS AUF: </p>
        <div class="iconList">
            <a href="https://www.instagram.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
                </svg>
            </a>   
            <a href="https://www.facebook.com">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1000 1000">
                    <g><g transform="translate(0.000000,442.000000) scale(0.100000,-0.100000)"><path d="M2467.8,4286.2c-220.5-37.9-587.9-155.9-786.1-256.1C868.8,3624.8,283.2,2832.1,138.4,1939.1c-51.2-316.2-51.2-4716.6,0-5032.8c95.8-587.9,369.7-1117.9,801.7-1547.7c334-336.3,668.1-543.4,1113.5-692.6c396.4-131.4,527.8-142.5,1855-142.5h1184.7v1815v1814.9h-612.4h-612.4v779.4v779.4h612.4h612.4V211c0,273.9,11.1,601.3,22.3,728.2c86.9,857.4,516.7,1498.7,1171.4,1748.1c271.7,102.4,427.6,118,1207,120.3H8211v-777.2v-777.2l-461-8.9c-409.7-8.9-476.5-15.6-587.9-57.9c-236.1-93.5-367.5-231.6-445.4-472.1c-40.1-120.3-51.2-213.8-60.1-572.3l-8.9-429.8h777.2h779.4l-155.9-779.4l-155.9-779.4h-619.1h-621.3v-1817.2v-1819.4l418.7,13.3c300.6,8.9,469.9,24.5,605.7,55.7c554.5,131.4,995.4,374.1,1391.8,772.7c396.4,394.2,632.5,819.5,775,1391.8c46.8,184.8,46.8,233.8,53.5,2565.4c8.9,2641.1,8.9,2618.8-135.9,3057.6c-151.4,447.6-358.5,781.7-690.3,1113.5c-434.3,434.2-962,705.9-1549.9,801.7C7220,4335.2,2759.5,4335.2,2467.8,4286.2z"/></g></g>
                </svg>    
            </a> 
            <a href="https://www.twitter.com">
                <svg width="1024px" height="1024px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4 0 146.8-111.8 315.9-316.1 315.9-63 0-121.4-18.3-170.6-49.8 9 1 17.6 1.4 26.8 1.4 52 0 99.8-17.6 137.9-47.4-48.8-1-89.8-33-103.8-77 17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35 25.1-4.7 49.1-14.1 70.5-26.7-8.3 25.7-25.7 47.4-48.8 61.1 22.4-2.4 44-8.6 64-17.3-15.1 22.2-34 41.9-55.7 57.6z"/>
                </svg>
            </a> 
            <a href="https://www.Tiktok.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="icons">
                    <path d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"/>
                </svg>  
            </a>  
        </div>
    </div>    
    <div class="buttonWrapper">
        <button v-on:click="contact">Kontakt</button>
        <button v-if="!auth" v-on:click="login" >Login</button>
        <button v-if="auth" v-on:click="dashboard">Dashboard</button>
    </div>
</template>

<style scoped>

.buttonWrapper {
    font-family: 'Nunito';
    font-style: normal;
    display: flex;
    flex-direction: row;
}

.buttonWrapper button {
    margin-left: 50px;
    margin-top: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    text-transform: uppercase;
}

p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 15px;
}

.socialMediaWrapper {
    display: flex;
    flex-direction: column;
}

.iconList {
    padding-left: 15px;
}

.iconList svg {
    width: 40px;
    height: 40px;
    fill: white;
    margin-right: 15px;
}
 
.iconList svg:hover {
    fill: #6e8062;
}

</style>