<template>
  <GMapMap
    :center="center"
    :zoom="10"
    map-type-id="terrain"
    class="Map"
  >
    <GMapCluster :zoomOnClick="true">
      <GMapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @click="center = m.position"
      />
    </GMapCluster>
  </GMapMap>
</template>

<script>
export default {
  data() {
    return {
      center: { lat: 51.093048, lng: 6.84212 },
      markers: [
        {
          position: {
            lat: 51.093048,
            lng: 6.84212,
          },
        }
      ],
    };
  },
};
</script>

<style scoped>
body {
  margin: 0 auto;
  width: 500px;
}

.Map{
    width: 100%;
    height: 100%;
}
</style>
