<script lang="ts">
    import { defineComponent, reactive, inject } from "vue"
    import { useToast } from "vue-toastification";

    const toastHandler = useToast();

    export default defineComponent({
        name: "RegisterComponent",
        emits: ["userCreated"],
        setup(){
            const hostname = inject('hostname');
            const data = reactive({
                name: "",
                email: "",
                password: "",
                roleId: 2
            });


            return {
                data,
                hostname
            }
        }, methods: {
            async submit() {
                var response = await fetch(this.hostname + '/api/auth/register', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.data)
                });
                if (response.status === 201) {
                    toastHandler.success("User wurde erfolgreich angelegt.", {
                        timeout: 5000,
                        closeOnClick: true,
                        pauseOnFocusLoss: true,
                        pauseOnHover: true,
                        draggable: true,
                        draggablePercent: 0.6,
                        showCloseButtonOnHover: false,
                        hideProgressBar: true,
                        closeButton: "button",
                        icon: true,
                        rtl: false
                    });
                    this.$emit("userCreated");
                } else {
                    toastHandler.error("User anlegen Fehlgeschlagen! Error-Code: " + response.status, {
                        timeout: 5000,
                        closeOnClick: true,
                        pauseOnFocusLoss: true,
                        pauseOnHover: true,
                        draggable: true,
                        draggablePercent: 0.6,
                        showCloseButtonOnHover: false,
                        hideProgressBar: true,
                        closeButton: "button",
                        icon: true,
                        rtl: false
                    });
                }
                this.data.email = "";
                this.data.name = "";
                this.data.password = "";
            },
        }
    });
</script>

<template>
    <form @submit.prevent="submit" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <input v-model="data.name" class="form-control" placeholder="Name" required>
        <input v-model="data.email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input v-model="data.password" type="password"  class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</template>

<style>

</style>