<script lang="ts">
    import { defineComponent } from 'vue'
    export default defineComponent({
        name: "ReservateNow",
        methods: {
            changeWelcome() {
                var chosenNumber = Math.floor(Math.random() * this.lines.length);
                this.welcomeLine = this.lines[chosenNumber].name;
            },
        },
        data() {
            return {
                welcomeLine: "Hier ist noch ein Platz frei ;)",
                lines: [
                    { name: 'Bock auf ein Date?' },
                    { name: 'Bist du hungrig?' },
                    { name: 'Gönn dir mal was...' },
                ]
            }
        },
        mounted() {
            window.setInterval(() => {
                this.changeWelcome();
            }, 5000)
        },
    })
</script>

<template>
    <h1>
        {{ welcomeLine }}
    </h1>
    <div class="button">
      <button class="btn btn-lg btn-primary rounded-pill" @click="$router.push('reservieren')">
        Jetzt tisch Reservieren
      </button>
    </div>
</template>

<style scoped>
  h1 {
    font-family: 'Nunito', sans-serif; font-size: 40px; font-weight: 200; line-height: 41px; letter-spacing: 0em; text-align: left;
    color: white;
    text-transform:uppercase;
  }
  .button {
    padding-top: 2vw;
    left: 35%;
  }
  .btn {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  
</style>