<script lang="ts">
    import { defineComponent } from 'vue'
    export default defineComponent({
        name: "ScrollNav",
        methods: {
            onScroll() {
                // Get the current scroll position
                const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop;
                // Because of momentum scrolling on mobiles, we shouldn't continue if it is less than zero
                if (currentScrollPosition < 0) {
                    return
                }

                if (currentScrollPosition < 300) {
                    this.showNavbar = false;
                    return;
                } else {
                    this.showNavbar = true;
                }
            }
        },
        data () {
            return {
                showNavbar: false
            }
        },
        mounted () {
            window.addEventListener('scroll', this.onScroll)
        },
        beforeUnmount() {
            window.removeEventListener('scroll', this.onScroll)
        }
    })
</script>

<template>
    <div class="scrollnavbar" :class="{ 'navbar--hidden': !showNavbar }">
       <a href="/" style="padding-top: 0px;">
        <img alt="Ristoranti Logo" class="scrolllogo" src="@\assets\RistorantiWhite.svg"/>
      </a>
      <nav class="scrollnav">
        <ul>
          <RouterLink to="/">HOME</RouterLink>
          <RouterLink to="/reservieren">RESERVIEREN</RouterLink>
          <RouterLink to="/kontakt">KONTAKT</RouterLink>
        </ul>
      </nav>
    </div>
</template>

<style scoped>
.scrollnavbar {
  height: 60px;
  width: 100vw;
  background: #4B5842;
  position: fixed;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  transition: 0.1s all ease-out;
  z-index: 300;
}
.scrollnavbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
@media (min-width: 820px) {
  .scrollnavbar {
    height: 60px;
    width: 100vw;
  }
}

.scrollnavbar a {
  text-decoration: none;
  height: 100%;
  color: #fff;
  float: left;
  display: block;
  padding-top: 17.5px;
}

nav ul > * {
  color: #fff;
  padding: 0.7vw 2vw 0.7vw 2vw;
}

nav.scrollnav{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-right: 30px;
}

nav.scrollnav ul {
  list-style-type: none;
  height: 100%;
  float: right;
}

nav.scrollnav ul a.router-link-active{
  background-color: #353535;
}

nav.scrollnav ul a::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
  border-radius: 15px;
}

nav ul a:hover::after {
  width: 70%;
}

.scrolllogo {
  width: 120px;
  margin: 12px 3vw;
  z-index: 300;
}
</style>